body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #E8F3EA, #FFFFFF, #F0F0FF);
    margin: 0;
}

.signup-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.signup-container h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.signup-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.signup-container input, 
.signup-container button {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-container input {
    width: 95%;
}

.signup-container button {
    width: 100%;
    background-color: #098931;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

.signup-container button:hover {
    background-color: #0a5823;
}
